body{
  background-color: orange;
}
.box{width:100px;height:100px;background-color: #fff;}
.btn{
  display: block;
  width:100px;
  height:30px;
  text-align: center;
  line-height: 30px;
  color:#fff;
  background-color: #1723c0;
}
